<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638458240110-tggbhad9ofm6ubm4v6o40b02glubc7h2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638458240110-tggbhad9ofm6ubm4v6o40b02glubc7h2</string>
	<key>API_KEY</key>
	<string>AIzaSyDxDF9Qu6caKQuIpiZAz-NdoxCWT772osM</string>
	<key>GCM_SENDER_ID</key>
	<string>638458240110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoSample</string>
	<key>PROJECT_ID</key>
	<string>todo-tt-d6167</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-tt-d6167.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638458240110:ios:204050af137562ef489a7f</string>
</dict>
</plist>